@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');
/* ALGEMENE VORMGEVING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(202,174,238);
    background: radial-gradient(circle, rgba(202,174,238,1) 19%, rgba(51,81,251,1) 100%);
}

h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
}

p {
    Font-Family: 'Open Sans', Sans-Serif;
    color: black;
}

/* VORMGEVING GRID */
.grid-container {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 15px;
    padding: 20px;
    text-align: center;
    align-content: center;
    align-self: center;
    border-radius: 10px;
    max-width: 90%;
}

.titlePadding {
    padding: 25px;
}

/* Verwijderd achtergrond svg en lost probleem met overlappende pieChart op */
#speed svg > rect , #chart_div svg > rect , #pieChart svg > rect {
	fill: none;
}

/* DECALARATIE VAN GRID ITEMS */
div > .item1 {
    grid-area: item1;
  }

 div > .item2 { 
    grid-area: item2;
  }

div >  .item3 {
    grid-area: item3;
  }

 div > .item4  {
    grid-area: item4;
  }


/* Vormgeving Poll results for pie of the day - ITEM 4*/
.smallText{
    font-size: 75%;
}

#pieChart{
    margin-left: 5%;
    width: 100%;
}


/*MOBIELE WEERGAVE*/
@media only screen and (max-width: 600px) {
    .grid-container{
        margin: 0 auto;
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4";
    }


    .hidden { /* Verbergt de teksten welke in de andere weergaveopties wel te zien zijn */
        display: none;
    }

    #speed {
        margin-left: 32%;
    } 

    #chart_div {
        width: 480px;
        height: 250px;
        margin: 0 auto;
    } 
}


/*TABLET WEERGAVE*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .grid-container{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;

        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4";
    }

    #speed {
        margin-left: 36%;
    } 

    #chart_div {
        width: 480px;
        height: 250px;
        margin: 0 auto;
    } 
}

/* Laptop (kleine desktop)*/
@media only screen and (min-width: 1024px) and (max-width: 1598px) {   
    .grid-container{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "item1			item1"
        "item2			item4"
        "item3			item3";
    }

    #speed {
        margin-left: 30%;
        padding: 30px;
    }
    
    #item1 {
        margin-right: 10px;
        height: 500px;
    }

    #item2 {
        height: 440px;
    }

    #item3 {
        height: 300px;
    }

    #item4 {
        height: 500px;
    }

    #chart_div {
        width: 480px;
        height: 250px;
        margin: 0 auto;
    } 
}

/*Grote desktop*/
@media only screen and (min-width: 1599px) {
    .grid-container {
        margin: 5px;
    }
    
    .grid-container{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "item1 		item1			item1"
        "item2 		item3			item4";
    } 
}

